.header{
  background-color: lightgreen;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 5px;
}

.btn{
  background-color: lightblue;
  padding: 5px 10px;
  border-radius: 10px;
}